/* styles.css */
@media screen and (max-width: 600px) {
    input, button {
        width: 90%; /* スマートフォンの幅に合わせて調整 */
    }
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#calc-form {
    margin: 20px;
}

input, button {
    margin: 10px;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 入力欄の幅を調整 */
input {
    width: 80%; /* 幅を80%に変更 */
}

/* 既存のスタイルを追加 */

button {
    margin: 10px;
    display: inline-block; /* ボタンをインラインブロックに設定 */
    width: auto; /* 幅を自動調整 */
    padding: 15px; /* パディングを増やす */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 28px;
    white-space: pre; /* white-spaceを設定して、改行を有効にする */
}
