/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
}

#calc-form {
    margin: 20px;
}

input, button {
    margin: 10px;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 入力欄の幅を調整 */
input {
    width: 80%; /* 幅を80%に変更 */
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 36px;
}
