.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 1px;
}

.sudoku-cell {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
}

/* 3x3のセクションの境界を太くする */
.sudoku-cell:nth-child(3n), .sudoku-cell:nth-last-child(3n) {
  border-right-width: 3px;
}

.sudoku-cell:nth-child(27n), .sudoku-cell:nth-child(54n), .sudoku-cell:nth-child(81n) {
  border-bottom-width: 3px;
}

