/* 基本スタイル */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1px;
  width: 90vw; /* グリッドの幅をビューポートの90%に */
  max-width: 400px; /* 最大幅を400pxに設定 */
  margin: auto;
}

.sudoku-cell {
  border: 1px solid #000;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; /* フォントサイズを16pxに設定 */
  user-select: none; /* セルのテキスト選択を防ぐ */
}

/* 3x3のセクションの境界を太くする */
.sudoku .sudoku-cell:nth-child(3n) {
  border-right-width: 2px;
}

.sudoku .sudoku-cell:nth-child(27n), .sudoku .sudoku-cell:nth-child(54n), .sudoku .sudoku-cell:nth-child(81n) {
  border-bottom-width: 2px;
}

/* タブレット以上のサイズでセルのサイズを調整 */
@media (min-width: 600px) {
  .sudoku {
    max-width: 500px; /* グリッドの最大幅を500pxに設定 */
  }
  .sudoku-cell {
    font-size: 20px; /* フォントサイズを20pxに設定 */
  }
}

/* デスクトップサイズでの調整 */
@media (min-width: 900px) {
  .sudoku {
    max-width: 550px; /* グリッドの最大幅を550pxに設定 */
  }
  .sudoku-cell {
    font-size: 24px; /* フォントサイズを24pxに設定 */
  }
}
